*.pkl
*.joblib
*.parquet
*.gz
*.tbi
*.bak
*.npy
*.vcf
*.tsv
*.html
*.zip
*.pdf
*.xlsx
*Zone.Identifier*
vus_modelsaved.ipynb
vus_after_eda.ipynb
vus_eda_fixed.ipynb
vus_eda.ipynb
vus_model_training_v2.ipynb
vus_model_training_v3.ipynb
vus_new.ipynb
VUS.ipynb
Patient_annotated_collapsing.ipynb
VUS_confident_predictions_LightGBM.csv
VUS_predictions_LightGBM.csv
VUS_to_review_LightGBM.csv
vus_predictions_all.csv
vus_predictions_full.csv
vus_reclassification_results.csv
likely_pathogenic_vus_0.7_0.8.csv
ML_variants.csv
damaging_variants.csv
patient_test.csv
HR_Images/
Images/
vcf_compare/
vus_new/
workflow_diagram/
haplo/
best_model_name.txt
